@font-face {
  font-family: Kumbh_Sans;
  src: url(fonts/Kumbh_Sans/KumbhSans-VariableFont_YOPQ\wght.ttf);
}

body {
  font-family: Kumbh_Sans, sans-serif;
  font-size: 16px;
  color: hsl(220, 13%, 13%);
}

.navbar-container {
  border-bottom: 1px solid #cfcfcf;
  padding-bottom: 1em;
}

.collections {
  margin-left: 4em;
}

.sneakers {
  display: flex;
}

.thumb-active {
  border: 3px solid hsl(219, 9%, 45%);
  opacity: 0.5;
}

.product-info {
  margin-top: 6em;
}

.product-title {
  font-size: 1.6em;
  font-weight: 700;
}
.product-text {
  color: hsl(219, 9%, 45%);
}
.company-name {
  font-size: 0.75em;
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  /* margin-bottom: 10px; */
}

.product-discounted-price {
  font-size: 1.5em;
  font-weight: 700;
}
.product-discount {
  color: hsl(26, 100%, 55%);
  font-size: 0.875em;
  font-weight: 700;
  margin-left: 10px;
  background-color: hsl(25, 100%, 94%);
  padding: 2px 5px;
  border-radius: 5px;
  position: relative;
  top: -4px;
}
.product-price {
  color: hsl(220, 14%, 75%);
  font-size: 0.875em;
  font-weight: 700;
}

#product-1-img-1 {
  margin-top: 4em;
  width: 20em;
}

.product-thumbnails {
  margin-top: 1em;
  gap: 1.33em;
}

.product-thumbnail {
  width: 4em;
  height: 4em;
}

.product-quantity {
  width: 8em;
  margin-top: 1em;
}
.quantity-display {
  background-color: hsl(223, 64%, 98%);
}
.plus-minus {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(223, 64%, 98%);
}

.plus-minus-btn {
  width: 5em;
}

.add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  margin-left: 0.5em;
  width: 12em;
  background-color: hsl(26, 100%, 55%);
  color: white;
  font-size: 0.875em;
  font-weight: 700;
  border-radius: 0.8em;
  border: none;
}
.add-to-cart-icon {
  filter: brightness(0) invert(1);
}

@media (max-width: 990px) {
  body {
    font-size: 12px;
  }
}

@media (min-width: 991px) {
  #product-1-img-1 {
    margin-left: 10em;
  }

  #product-1-thumbnail-1 {
    margin-left: 10em;
  }
}

@media (min-width: 1500px) {
  body {
    font-size: 1.2vw;
  }
  #navbar-logo {
    width: 10vw;
    margin-top: 0.4em;
  }
  .nav-margin-top {
    margin-top: 1.4em;
  }
  #nav-cart-icon {
    width: 2em;
    margin-right: 3em;
  }
  #nav-avatar {
    width: 3em;
  }

  .add-to-cart {
    width: 15em;
    height: 3em;
    padding: 3em;
  }
  .nav-left {
    gap: 0.8em;
  }
}
