@font-face {
  font-family: Kumbh_Sans;
  src: url(/fonts/Kumbh_Sans/KumbhSans-VariableFont_YOPQ\,wght.ttf);
}

body {
  font-family: Kumbh_Sans, sans-serif;
  font-size: 16px;
  color: hsl(220, 13%, 13%);
}

.navbar-container {
  border-bottom: 1px solid #cfcfcf;
  padding-bottom: 1em;
}

.collections {
  margin-left: 4em;
}

.sneakers {
  display: flex;
}

.product-info {
  margin-top: 90px;
}

.product-title {
  font-size: 1.6em;
  font-weight: 700;
}
.product-text {
  color: hsl(219, 9%, 45%);
}
.company-name {
  font-size: 0.75em;
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  /* margin-bottom: 10px; */
}

.product-discounted-price {
  font-size: 1.5em;
  font-weight: 700;
}
.product-discount {
  color: hsl(26, 100%, 55%);
  font-size: 0.875em;
  font-weight: 700;
  margin-left: 10px;
  background-color: hsl(25, 100%, 94%);
  padding: 2px 5px;
  border-radius: 5px;
  position: relative;
  top: -4px;
}
.product-price {
  color: hsl(220, 14%, 75%);
  font-size: 0.875em;
  font-weight: 700;
}

#product-1-img {
  margin-top: 50px;
  width: 60%;
  /* height: 55%; */
  margin-left: 25%;
}

.product-quantity {
  width: clamp(150px, 30vw, 250px);
  margin-top: 20px;
}
.quantity-display {
  background-color: hsl(223, 64%, 98%);
}
.plus-minus {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(223, 64%, 98%);
}
.add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(180px, 24vw, 1000px);
  margin-top: 20px;
  margin-left: 2px;
  background-color: hsl(26, 100%, 55%);
  color: white;
  font-size: 0.875em;
  font-weight: 700;
  border-radius: 6px;
  border: none;
}
.add-to-cart-icon {
  filter: brightness(0) invert(1);
}

@media (min-width: 1500px) {
  body {
    font-size: 1.2vw;
  }
  #navbar-logo {
    width: 10em;
    margin-top: 0.4em;
  }
  .nav-margin-top {
    margin-top: 1.4em;
  }
  #nav-cart-icon {
    width: 2em;
    margin-right: 3em;
  }
  #nav-avatar {
    width: 3em;
  }
}
